.Appintment-form {
  height: 70vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.test-from-header {
  text-align: center;
  padding: 10px;
  font-size: 4.3vmin;
  
}
.appintment-form-card {
  height: 400px;
  width: 80vmin;
  border: 1px solid #c9c9c9;
  border-radius: 6px;
  color: #808080;
  box-shadow: 2px 2px 10px black;
  animation: fadeIn 1s;
}
.form-center {
  display: flex;
  height: 30%;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}
.form-right-card {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-left-card {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-left-card input,
.form-right-card input,
.form-right-card select {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
    color: #808080;
  transition: 0.4s;
}

.form-text-area {
  height: 27vh;
  padding: 10px;
}

.form-text-area textarea {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  resize: none;
  outline: none;
}
.form-right-card .slecet-option option {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 20px;
}

@media (max-width:750px) {
  .appintment-form-card{
    width: 90vmin;
  }
}
.form-text-area button{
  padding: 10px;
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  outline: none;
  border: 1px solid white;
  background-color: blue;
  color: white;
  transition: 1s;

}
.form-text-area button:hover{
  padding: 10px;
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  outline: none;
  border: 1px solid white;
  background-color: rgb(38, 255, 0);
  color: white;

}