.billpdf {
  /* height: 90vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.billpdf-card-container {
  margin-top: 20px;
  height: 450px;
  /* border: 1px dashed rgb(160, 160, 160); */
  width: 80vmin;
  border-radius: 10px;
}
.billpdf-card-container h2 {
  text-align: center;
  padding: 10px;
  font-size: 3.9vmin;
  color: blue;
  text-transform: capitalize;
}
.billing-name {
  border-bottom: 2px dashed rgba(15, 5, 5, 1);
}
.billing-name .bullpdf-contnent-p {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 15px;
  align-items: center;
  
}
.bullpdf-contnent-p-amount {
  height: 50%;
  font-size: 15px;
}
.bullpdf-contnent-p-amount .bullpdf-contnent-p {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 15px;
  color: red;
}

.billpdf-button {
  width: 97%;
  margin: 5px 10px;
  padding: 10px 10px;
  border-radius: 7px;
  border: none;
  transition: 1s;
  border: 1px solid rgb(160, 160, 160);
}
@media (max-width: 750px) {
  .billpdf-button {
    width: 93%;
    padding: 10px 10px;
    border-radius: 7px;
    border: none;
    transition: 1s;
    border: 1px dashed rgb(160, 160, 160);
  }
}
.billpdf-button:hover {
  background-color: green;
  color: white;
  font-size: 15px;
}
@media (max-width: 720px) {
  .billpdf-card-container {
    height: 470px;
  }
}
