.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  box-shadow: 0px 0px 20px rgb(180, 170, 170); 
  position: sticky;
  background-color: white;
  z-index: 1;
  top: 0px;
}
.navbar .logo {
  font-size: 4.5vmin;
}
.navbar-menu {
  font-size: 2.5vmin;
  display: flex;
  align-items: center;
  column-gap: 20px;
  
}
a {
 text-decoration: none;
 font-weight: 600;
}

.navbar-right {
  display: flex;
  align-items: center;
  column-gap: 20px;
  
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #000000;
  border: 1px solid tomato;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}
.navbar button:hover {
  background-color: #fff4f2;
}
.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid tomato;
  color: tomato;
}

@media (max-width: 750px) {
  .logo{
    display: none;
  }
  .navbar-right button{
    display: none;
  }
   .navbar-right img{
    margin-right: 30px;
    height: 6.5vmin;
   }
  .navbar-menu{
    justify-content: center;
    width: 100%;
    font-size: 3.5vmin;
  }
} 
