* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
}
html {
  min-height: 100%;
}
a {
  color: inherit;
}
.app {
  width: 100%;
  margin: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes error {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 360, 360deg);
  }
}

.shivasssloading {
  position: absolute;
  top: 40%;
  left: 47%;
}
.lading-docotr {
  position: absolute;
  top: 38%;
  left: 75%;
}
.user-loading-data {
  position: absolute;
  top: 45%;
  left: 75%;
}

.form-billing-laoding {
  position: absolute;
  top: 45%;
  left: 45%;
  
}
.header-front {
  /* background-image: url("/image copy.png"); */
  height: 35vw;
  border: 1px solid black;
  background-position: center;
  background-size: contain;
  padding: 40px;
}
